@import "variables";
.footer {
    background-color: $text_color;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
