@import "variables";
.footer {
    background-color: $text_color;
    padding: 32px 0 44px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer-headline {
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;

            color: $white_color;
        }
        .footer-social {
            display: flex;
            justify-content: space-between;
        }
    }
}
