.header {
    .navbar {
        position: absolute;
        width: 710.96px;
        height: 132.98px;
        left: 205.38px;
        top: 40.92px;
        .nav-item {
            a {
                font-size: 21.4px;
                font-weight: 500;
            }
        }
    }
}
