@import "variables";
.header {
    position: relative;
    .navbar {
        .nav-item {
            a {
                font-size: 21.4px;
                font-weight: 500;
                font-style: $font;
            }
            a.active {
                color: $primary_color;
            }
        }
        .d-flex {
            button {
                border-radius: 6px;
                a {
                    text-decoration: none;
                    font-size: 16px;
                }
            }
        }
    }
}
