@import "variables";
.header {
    .navbar {
        .nav-item {
            a {
                font-size: 21.4px;
                font-weight: 500;
            }
            a.active {
                color: $primary_color;
            }
        }
        .d-flex {
            button {
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
