.main-content {
    &_aboutme {
        position: relative;
        &--bg1 {
            position: absolute;
            width: 1010.66px;
            height: 968.45px;
            left: -102.28px;
            top: -166px;
            transform: rotate(0);
            z-index: -1;
        }

        &--info {
            display: flex;
            flex-direction: row;
            align-items: center;
            &-img {
                width: 475px;
                height: 653px;
                margin-top: 100px;
                margin-left: 60px;
                /* Group 4 */
                img {
                    width: 475px;
                    height: 653px;
                    border-radius: 12px;
                }
            }
            &-description {
                margin-top: 100px;
                margin-left: 60px;
                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 36px;
                    color: $primary_color;
                }
                p {
                    font-family: "Spartan";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 170%;
                    /* or 41px */

                    color: #000c24;
                }
                button {
                    width: 170px;
                    height: 53px;
                    background: #000c24;
                    border-radius: 4px;
                    a {
                        text-decoration: none;
                        width: 122px;
                        height: 21px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 128.7%;
                        /* identical to box height, or 21px */

                        letter-spacing: 0.0125em;

                        color: #ffffff;
                    }
                }
            }
        }
    }

    &_skills {
        margin-top: 226px;
        display: flex;
        align-items: center;
        position: relative;
        &-bgskill {
            position: absolute;
            top: -400px;
            right: -162px;
            // width: 1521.03px;
            // height: 947.23px;
            // right: 0;
            // top: 0;
            // // background: #000c24;
            // transform: matrix(-0.87, -0.52, -0.49, 0.86, 0, 0);
        }
        &-description {
            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 36px;
                /* identical to box height */

                color: #f44336;
            }
            p {
                width: 617px;
                height: 123px;

                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 170%;
                /* or 41px */

                color: #000c24;
            }
            .skill-description {
                width: 616px;
                height: 288px;
                // &--js {
                //     width: 100px;
                //     height: 100px;
                //     text-align: center;
                //     line-height: 100px;
                //     border-radius: 50%;
                //     color: $grey_color;
                //     border: 10px solid $text_color;
                // }
                .all{
                    display: flex;
                  }
                  .circle-wrap {
                    display: grid;
                    grid-template-columns: repeat(1, 160px);
                    grid-gap: 80px;
                    margin-top: 100px;
                    margin-left: 50px;
                    width: 150px;
                    height: 150px;
                    background: #d9d7da;
                    border-radius: 50%;
                  }
                  
                  .circle-wrap .circle .mask,
                  .circle-wrap .circle .fill-1,
                  .circle-wrap .circle .fill-2,
                  .circle-wrap .circle .fill-3 {
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    border-radius: 50%;
                  }
                  
                  .circle-wrap .circle .mask {
                    clip: rect(0px, 150px, 150px, 75px);
                  }
                  
                  .circle-wrap .inside-circle {
                    width: 124px;
                    height: 124px;
                    border-radius: 50%;
                    background: #212020;
                    line-height: 120px;
                    text-align: center;
                    margin-top: 13px;
                    margin-left: 13px;
                    color: white;
                    position: absolute;
                    z-index: 100;
                    font-weight: 700;
                    font-size: 2em;
                  }
                  
                  /* color animation */
                  
                  .mask .fill-1 {
                    clip: rect(0px, 75px, 150px, 0px);
                    background-color: #ec0c0c;
                  }
                  
                  .mask.full-1,
                  .circle .fill-1 {
                    animation: fill-1 ease-in-out 3s;
                    transform: rotate(153deg);
                  }
                  
                  @keyframes fill-1 {
                    0% {
                      transform: rotate(0deg);
                    }
                    100% {
                      transform: rotate(153deg);
                    }
                  }
                  
                  /* 2nd bar */
                  
                  .mask .fill-2 {
                    clip: rect(0px, 75px, 150px, 0px);
                    background-color: yellow;
                  }
                  
                  .mask.full-2,
                  .circle .fill-2 {
                    animation: fill-2 ease-in-out 3s;
                    transform: rotate(117deg);
                  }
                  
                  @keyframes fill-2{
                    0% {
                      transform: rotate(0deg);
                    }
                    100% {
                      transform: rotate(117deg);
                    }
                  }
                  
                  /* 3rd progress bar */
                  .mask .fill-3 {
                    clip: rect(0px, 75px, 150px, 0px);
                    background-color: #23b9ea;
                  }
                  
                  .mask.full-3,
                  .circle .fill-3 {
                    animation: fill-3 ease-in-out 3s;
                    transform: rotate(135deg);
                  }
                  
                  @keyframes fill-3{
                    0% {
                      transform: rotate(0deg);
                    }
                    100% {
                      transform: rotate(135deg);
                    }
            }
        }
    }
}
